@charset "UTF-8";

body {
  background: #02d9a7;
  text-align: center;
  font-family: 'aglet-mono', monospace;
  font-size: 1.5vw;
  color: #eb4600;
  margin: 0px;
  cursor: default;
}
h1 {
  font-family: 'faune', monospace;
  font-style: italic;
  text-align: justify;
  letter-spacing: 2.0vw;
  text-align: center;
  -webkit-animation: flash 10s;
	animation: flash 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@-webkit-keyframes flash {
  from {color: #ff0374;} 
  to {color: #eeff03;}
}
@keyframes flash {
  from {color: #ff0374;} 
  to {color: #eeff03;}
}
}
table {
  max-height: 80vh;
}
.neonsign {
  width: 93vw;
}
.room {
  background: #02d9a7;
  color: #eb4600;
  padding: 2.5rem;
  cursor: pointer;
  font-style: italic;
  border: thin dotted #02d9a7;
  width: 31vw;
}
.room:hover {
  color: #eeff03;
  background-color: #eb4600;
}
.download {
  text-decoration: none;
  color: #eeff03;
  cursor: pointer;
  font-weight: 600;
}
.download:hover {
  background-image: 
    radial-gradient(#036cff; .5px, transparent .5px);
}
.popup  {
	position: relative;
	display: inline-block;
	cursor: pointer;
	 -webkit-user-select: none;
  	-moz-user-select: none;
 	-ms-user-select: none;
  	user-select: none;
	font-size: 3.0rem;
	line-height: 1.8rem;
  color: #eb4600;
  font-size: 1.1rem;
}
.popup .popuptext {
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
  color: #eb4600;
  background-color: #036cff;
  border: thin dotted #eb4600;
  font-size: 5vw;
  font-style: normal;
  width: 95vw;
  height: 95vh;
  position: fixed;
  padding: 5px;
  top: 10px;
  left: 2vw;
  overflow: auto;
}
.popup .popuptext::after {
	content:"";
}
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.video {
 height: 50vh;
 width: 20%;
 padding: 10%;
 border: none;
 margin: auto;
}
.pdf {
 height: 30vh;
 width: 30%;
 padding: 10%;
 border: none;
 margin: auto;
}
.collage {
  transition: transform .3s; /* Animation */
  margin: auto;
  width: 65%;
  padding: 10%;
}
.collage:hover {
  transform: scale(1.5); 
  transform-origin: center;
}
img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
@font-face {
  font-family: Faune;
  src: url(Faune-Display_Bold_Italic.woff) format(woff);
  font-display: swap;
}
.secret {
  color: #02d9a7;
  position: fixed;
  bottom: 10px;
  text-align: center;
}
.secret:hover {
  color: #eb4600;
  text-align: center;
}
audio {
  max-width: 80%;
}
